* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    outline: none;
}

body {
    background: url(../../../public/assets/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
}