@media only screen and (max-width: 1680px) {
    .listas {
        div {
            li {
                margin: 4rem 4.5rem;
            }
        }
    }

    .navbar {
        justify-content: space-evenly;
    }

    .carousel {
        width: 65rem;
            img {
                width: 45rem;
                height: 30rem;
            }
    }

    footer {
        p {
            margin: auto 0 auto 5rem;
        }
    }

    .footer_iconos {
        margin: 2rem 1rem;
            li {
                a {
                    span {
                        font-size: .8rem;
                    }
                    img {
                        width: 1.8rem;
                        height: 1.8rem;
                    }
                }
            }
    }
}

@media only screen and (max-width: 1300px) {    
    .headerTitle {
        font-size: 2.8em;
    }
    
    .listas {
        div {
            li {
                margin: 4rem 2rem;
            }
        }
    }

    .item {
        img {
            width: 20rem;
            height: 22rem;
        }
        .div1 {
            width: 20rem;
                .nombre {
                    font-size: 1rem;
                    font-weight: 600;
                }
                .precio {
                    font-size: 1.2rem;
                }
                .div2 {
                    .compra {
                        margin: .2rem 0 1rem 0;
                    }
                }
        }
    }

    footer {
        flex-flow: column wrap;
            p {
                margin: 2rem auto 0rem auto ;
            }
    }

    .footer_iconos {
        margin: 1rem auto;
    }
}

@media only screen and (max-width: 1100px) {
    .carousel {
        width: 60rem;
            img {
                width: 40rem;
                height: 30rem;
            }
    }
}

@media only screen and (max-width: 1000px) {
    .titulo {
        border-bottom: #EAEAEA solid .1rem;
    }

    .headerGeneral {
        display: flex;
        justify-content: center;
    }
    
    .navbar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: fit-content;
        height: fit-content;
    }

    .headerTitle {
        margin: 1rem 0;
        font-size: 3.2em;
        text-align: center;
    }
    
    .listas {
        border-bottom: #EAEAEA solid .1rem;
            div {
                height: fit-content;
                border: none;
                width: fit-content;
                margin: 0;
                    li {
                        margin: 2rem;
                    }
            }
    }

    .carro {
        width: fit-content;
        margin: 1rem auto;
    }

    .carousel {
        width: 50rem;
            img {
                width: 30rem;
                height: 25rem;
            }
    }

    .popUp {
        width: 50rem;
        height: 38rem;
        margin: 4rem auto;
            .divTitular {
                margin: 1.5rem auto .5rem auto;
                width: 35rem;
                padding: 0;
                    .titular {
                        font-size: 1.5rem;
                        text-align: center;
                    }
            }
            img {
                width: 15rem;
                height: 20rem;
                margin: 1rem 2rem;
            }
            p {
                width: 29rem;
                height: 20rem;
                margin: 1rem 2rem 0 0;
                font-size: 1.1rem;
            }
            .precioBotones {
                margin: auto;
                width: 54rem;
                height: 5rem;
                padding: 3rem;
                    span {
                        font-size: 1.2rem;
                    }
                    .botones {
                        .botonIzq {
                            margin-right: 1rem;
                            img {
                                width: 1.5rem;
                                height: 1.5rem;
                                margin: 0 0 .5rem 0;
                            }
                        }
                        .botonDer {
                                img {
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    margin: 0 0 .5rem 0;
                                }
                        }
                        .botonCompra {
                            font-size: 1.2rem;
                            .cantidades {
                                width: 1.7rem;
                                height: 1.7rem;
                                font-size: 1.2rem;
                            }
                        }
                    }
            }
    }
}

@media only screen and (max-width: 850px) {
    .carousel {
        width: 30rem;
        border-radius: unset;
            img {
                margin: 0; 
                width: 30rem;
                height: 25rem;
            }
            button {
                background-color: #EAEAEA;
                border-radius: 50%;
                margin: 38% 0;
                width: 3rem;
                height: 3rem;
                    span {
                        width: 2rem;
                    }
            }
    }

    .popUp {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 35rem;
        height: 64rem;
            .divTitular {
                margin: 1.5rem auto 2rem 1.5rem;
                width: 32rem;
                    .titular {
                        font-size: 1.3rem;
                    }
            }
            img {
                width: 20rem;
                height: 25rem;
                margin: 0rem auto 2rem 7.5rem;
            }
            p {
                width: 29rem;
                height: 20rem;
                margin: 0rem auto 1rem 3rem;
            }
            .precioBotones {
                margin: auto 0 0 0;
                width: 35rem;
                    .botones {
                        .botonIzq {
                            margin: 0 1rem 0 5rem;
                        }
                        .botonDer {
                            margin: 0 0 0 1rem;
                        }
                    }
            }
    }

    .spinner-border {
        width: 10rem;
        height: 10rem;
    }

    footer {
        p {
            font-size: .6rem;
        }
    }

    .footer_iconos {
        li {
            a {
                span {
                    font-size: .6rem;
                }
                img {
                    width: 1.8rem;
                    height: 1.8rem;
                    margin: 0 1rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 602px) {
    .listas {
        div {
            li {
                margin: 2rem 1rem;
            }
        }
    }

    .popUp {
        width: 30rem;
        height: 67rem;
            .divTitular {
                margin: 1.5rem auto 2rem 2.5rem;
                width: 25rem;
            }
            img {
                width: 20rem;
                height: 25rem;
                margin: 0rem auto 2rem 5rem;
            }
            p {
                width: 27rem;
                height: 22rem;
                margin: 0rem auto 1rem 1.5rem;
            }
            .precioBotones {
                margin: 1rem 0 0 0;
                width: 30rem;
                    span {
                        width: 5rem;
                        text-align: center;
                    }
                    .botones {
                        .botonIzq {
                            margin: 0 1rem 0 3rem;
                        }
                        .botonDer {
                            margin: 0 0 0 1rem;
                        }
                    }
            }
    }
}

@media only screen and (max-width: 570px) {
    .carousel {
        width: 25rem;
            img {
                margin: 0; 
                width: 25rem;
                height: 20rem;
            }
            button {
                margin: 36% 0;
            }
    }

    .spinner {
        margin: 5rem auto;
    }

    .footer_iconos {
        flex-flow: column wrap;
    }
}

@media only screen and (max-width: 506px) {
    .navbar {
        display: flex;
        flex-flow: column wrap;
    }
    
    .headerTitle {
        font-size: 2.8em;
        height: fit-content;
    }
    
    .listas {
        flex-direction: column;
        margin: .5rem 0 1rem 0;
        padding: 0;
            .xbox {
                margin-bottom: .5rem;
            }
            div {
                li {
                    margin: 1rem;
                }
            }
    }

    .carro {
        margin-top: 0;
    }

    .nintendoTitle {
        padding: .4rem 1rem;
    }

    .xboxTitle {
        padding: .2rem 2rem;
    }

    .popUp {
        width: 20rem;
        height: 62rem;
            .divTitular {
                margin: 1.5rem auto 2rem 2.5rem;
                width: 15rem;
                    .titular {
                        font-size: 1rem;
                    }
            }
            img {
                width: 14rem;
                height: 18rem;
                margin: 0rem auto 2rem 3rem;
            }
            p {
                width: 16rem;
                height: 20rem;
                overflow: auto;
                border-radius: 0;
                margin: 0 auto 1rem 2rem;
                border-radius: 1rem 0 0 1rem;
            }
            .precioBotones {
                flex-direction: column;
                margin: 1rem 2rem 0 0;
                width: 20rem;
                height: 9rem;
                    span {
                        margin: 1.3rem 0 .5rem 0;
                    }
                    .botones {
                        display: flex;
                        margin: 0 4.5rem 0 0;
                            .botonIzq {
                                margin: 0 1rem 0 4.5rem;
                                    img {
                                        margin: 0;
                                    }
                            }
                            .botonDer {
                                margin: 0 0 0 1rem;
                                    img {
                                        margin: 0;
                                    }
                            }
                            .botonCompra {
                                .cantidades {
                                    margin: .3rem 0 0 0;
                                }
                            }
                    }
            }
    }

    .spinner-border {
        width: 5rem;
        height: 5rem;
    }
}

@media only screen and (max-width: 420px) {
    .carousel {
        width: 20rem;
            img {
                margin: 0; 
                width: 20rem;
                height: 20rem;
            }
            button {
                margin: 44% 0;
            }
    }
}

@media only screen and (max-width: 350px) {
    .carousel {
        width: 15rem;
            img {
                margin: 0; 
                width: 15rem;
                height: 15rem;
            }
            button {
                width: 2rem;
                height: 2rem;
                    span {
                        width: 1.5rem;
                    }
            }
    }

    .item {
        img {
            width: 16rem;
            height: 18rem;
        }
    }
}