/* Header */

.headerGeneral {
    background-color: #05080C;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 11rem;
}

.headerTitle {
    font-family: 'Silkscreen', cursive;
    color: #F7F7F7;
    font-size: 3.2em;
}

.listas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #05080C;
        div {
            height: 9rem;
            margin-top: .5rem;
            border-right: #EAEAEA solid .1rem;
            border-left: #EAEAEA solid .1rem;
                li {
                    margin: 4rem 9rem; 
                }
        }
}

.playTitle, .nintendoTitle, .xboxTitle {
    border: #EAEAEA solid .1rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    color: #EAEAEA;
    padding: .3rem 1rem;
}

.playTitle {
    background-color: #0070D1;
    font-family: 'Zrnic', sans-serif;
}

.nintendoTitle {
    background-color: #E60012;
    font-family: 'Pretendo', sans-serif;
    font-size: 1.2rem;                                              
}

.xboxTitle {
    background-color: #107B10;
    font-family: 'X360 by Redge', sans-serif;
    padding: .2rem 2rem;
}

.carro {
    :hover {
        box-shadow: 1px 1px 15px 5px #FFFFFF;
    }
}

.carritoBoton {
    background-color: #F7F7F7;
    border-radius: 8px;
    border: 1px solid transparent;
    width: 4rem;
    padding: .2rem;
    position: relative;
}

.iconoCarrito {
    width: 2rem;
    height: 2rem;
}

.notificacion {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 100%;
    background-color: red;
    position: absolute;
    top: -0.5rem;
    left: 3rem;
    box-shadow: 1px 1px 15px 4px red;
}

/* Main - Inicio */

.carousel {
    width: 80rem;
    border: .2rem solid black;
    border-radius: 5rem;
    margin: 4rem auto;
    background-color: #F7F7F7;
    box-shadow: 1px 1px 15px 5px black;
        img {
            margin: 0 9.8rem; 
            width: 60rem;
            height: 40rem;
        }
        button {
            width: 12%;
                span {
                    width: 4rem;
                    height: 10rem;
                }
        }
}

/* Footer */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: .1rem solid #F7F7F7;
    background-color: #05080C;
        p {
            font-size: .8rem;
            font-weight: 600;
            text-align: center;
            color: #F7F7F7;
            margin: auto 0 auto 6rem;
            text-decoration: underline;
            font-family: 'Silkscreen', cursive;
        }
}

.footer_iconos {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 2rem;
        li {
            a {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
                margin: 0 2rem;
                    span {
                        border: 0.2rem solid #F7F7F7;
                        font-size: 1rem;
                        font-family: 'Silkscreen', cursive;
                        font-weight: 600;
                        color: #F7F7F7;
                        padding: 0.5rem;
                        border-radius: 10px;
                    }
                    img {
                        width: 2rem;
                        height: 2rem;
                        padding: 1rem;
                        margin: 0 2rem;
                        box-sizing: content-box;
                            &:hover {
                                transition: all 1s;
                                transform: rotate(360deg);
                            }
                    }
            }
        }
}