/* Header */

.headerGeneral {
    background-color: #05080C;
    border-bottom: .1rem solid #F7F7F7;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 11rem;
}

.headerTitle {
    font-family: 'Silkscreen', cursive;
    color: #F7F7F7;
    font-size: 3.2em;
    text-shadow: #4B473F -4px 0;
}

.listas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #05080C;
        div {
            height: 9rem;
            margin-top: .5rem;
            border-right: #EAEAEA solid .1rem;
            border-left: #EAEAEA solid .1rem;
                li {
                    margin: 4rem 9rem; 
                        a {
                            color: #F7F7F7;
                        }
                }
        }
}

.playTitle, .nintendoTitle, .xboxTitle {
    border: #EAEAEA solid .1rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    color: #EAEAEA;
    padding: .3rem 1rem;
}

.playTitle {
    background-color: #0070D1;
    font-family: 'Zrnic', sans-serif;
}

.nintendoTitle {
    background-color: #E60012;
    font-family: 'Pretendo', sans-serif;
    font-size: 1.2rem;                                              
}

.xboxTitle {
    background-color: #107B10;
    font-family: 'X360 by Redge', sans-serif;
    padding: .2rem 2rem;
}

.carro {
    :hover {
        box-shadow: 1px 1px 15px 5px #FFFFFF;
    }
}

.carritoBoton {
    background-color: #F7F7F7;
    border-radius: 8px;
    border: 1px solid transparent;
    width: 4rem;
    padding: .2rem;
    position: relative;
}

.iconoCarrito {
    width: 2rem;
    height: 2rem;
}

.notificacion {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 100%;
    background-color: red;
    position: absolute;
    top: -0.5rem;
    left: 3rem;
    box-shadow: 1px 1px 15px 4px red;
}

/* Main - Inicio */

.carousel {
    width: 80rem;
    border: .2rem solid black;
    border-radius: 5rem;
    margin: 4rem auto;
    background-color: #F7F7F7;
    box-shadow: 1px 1px 15px 5px black;
        img {
            margin: 0 9.8rem; 
            width: 60rem;
            height: 40rem;
        }
        button {
            width: 12%;
                span {
                    width: 4rem;
                    height: 10rem;
                }
        }
}

/* Main - Productos */

.container {
    max-width: none;
    width: 100%;
}

.item {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
        img {
            width: 24rem;
            height: 27rem;
            border: .2rem solid black;
            border-radius: 1rem 1rem 0 0;
        }
        .div1 {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            background-color: white;
            box-shadow: 0px 2px 13px -1px #ffffff;
            border-radius: 1rem;
            margin: 3rem;
            width: 23.9rem;
                .nombre {
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 1.3rem;
                    font-weight: 400;
                    text-align: center;
                    margin-bottom: 0;
                }
                .precio {
                    font-family: 'Rubik', sans-serif;
                    font-size: 1.3rem;
                    font-weight: 600;
                    color: #E60012;
                }
                span {
                    margin: .5rem;
                }
                .div2 {
                        .compra {
                            font-size: 1rem;
                            padding: .5rem;
                            border-radius: 1.5rem;
                            font-weight: 600;
                            margin: 0 0 1rem 0;
                            background-color: black;
                            color: white;
                            border: .3rem rgb(112, 111, 111) solid;
                                &:hover {
                                        box-shadow: inset 1px 1px 10px 1px white;
                                }
                        }
                        .detalles {
                            font-size: 1rem;
                            padding: .5rem;
                            border-radius: 2rem;
                            background-color: rgba(0, 0, 0, 0.88);
                            border: .3rem black solid;
                            margin: 0 0 1rem 2rem;
                            box-shadow: 0px 0px 6px 0px #000000;
                                &:hover {
                                    box-shadow: inset 1px 1px 10px 1px white;
                                }
                                .ojo {
                                    width: 2rem;
                                    height: 2rem;
                                    border: solid .2rem black;
                                    border-radius: 2rem;
                                }
                        }
                }
        }
}

/* PopUp Detalles */

.popUp {
    display: flex;
    flex-wrap: wrap;
    width: 60rem;
    height: 45rem;
    background-color: white;
    border-radius: 1rem;
    margin: 4rem auto;
    background-color: #000000;
    box-shadow: inset 0px 0px 13px 1px white;
        .divTitular {
            height: fit-content;
            margin: 2rem auto .8rem auto;
            border: solid .1rem #6022BD;
            border-radius: 2rem;
            width: 50rem;
            box-shadow: inset 0px 0px 13px 1px white;
                .titular {
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 2rem;
                    letter-spacing: .3rem;
                    margin: 0 auto;
                    width: fit-content;
                    height: fit-content;
                    border: none;
                    text-shadow: white 1px 1px;
                    color: white;
                }
        }
        img {
            width: 20rem;
            height: 25rem;
            margin: 0 2rem;
            border: .1rem solid white;
            border-radius: 1rem;
        }
        p {
            width: 34rem;
            height: 20rem;
            margin: 2.5rem 2rem 0 0;
            font-size: 1.2rem;
            border-radius: 2rem;
            border: solid .1rem white;
            padding: 1rem;
            color: white;
        }
        .precioBotones {
            display: flex;
            border-top: solid .1rem white;
            justify-content: center;
            align-items: center;
            margin: 1rem auto -2rem auto;
            width: 54rem;
            height: 7rem;
                span {
                    font-family: 'Rubik', sans-serif;
                    font-size: 2rem;
                    font-weight: 600;
                    color: #E60012;
                    text-shadow: #E60012 0px 0px 2px;
                }
                .botones {
                    .botonIzq {
                        margin: 0 2rem 0 8rem;
                        width: 1.5rem;
                        background-color: transparent;
                        border: none;
                            img {
                                width: 2rem;
                                height: 2rem;
                                border: none;
                                margin: 0 0 1rem 0;
                                    &:hover {
                                        filter: drop-shadow(0px 0px 1px white);
                                    }
                            }
                    }
                    .botonDer {
                        margin: 0 0 0 1rem;
                        width: 1.5rem;
                        background-color: transparent;
                        border: none;
                            img {
                                width: 2rem;
                                height: 2rem;
                                border: none;
                                margin: 0 0 1rem 0;
                                    &:hover {
                                        filter: drop-shadow(0px 0px 1px white);
                                    }
                            }
                    }
                    .botonCompra {
                        font-size: 2rem;
                        padding: .5rem;
                        border-radius: 1.5rem;
                        font-weight: 600;
                        background-color: black;
                        color: white;
                        border: .3rem rgb(112, 111, 111) solid;
                            &:hover {
                                    box-shadow: inset 1px 1px 10px 1px white;
                            }
                    }
                }
        }
}

/* Spinner */

.spinner-border {
    width: 20rem;
    height: 20rem;
}

.spinner {
    width: fit-content;
    height: fit-content;
    margin: 10rem auto;
}

/* Footer */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: .1rem solid #F7F7F7;
    background-color: #05080C;
        p {
            font-size: .8rem;
            font-weight: 600;
            text-align: center;
            color: #F7F7F7;
            margin: auto 0 auto 6rem;
            text-decoration: underline;
            font-family: 'Silkscreen', cursive;
        }
}

.footer_iconos {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 2rem;
        li {
            a {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
                margin: 0 2rem;
                    span {
                        border: 0.2rem solid #F7F7F7;
                        font-size: 1rem;
                        font-family: 'Silkscreen', cursive;
                        font-weight: 600;
                        color: #F7F7F7;
                        padding: 0.5rem;
                        border-radius: 10px;
                    }
                    img {
                        width: 2rem;
                        height: 2rem;
                        padding: 1rem;
                        margin: 0 2rem;
                        box-sizing: content-box;
                            &:hover {
                                transition: all 1s;
                                transform: rotate(360deg);
                            }
                    }
            }
        }
}